.*
*.c
*.log
*.patch
*.dSYM
*~
/configgen
/documentation/*/gallery-images/*
/documentation/*/gir-images/*
/documentation/*/vapi-images/*
/documentation/*/index.sgml
/documentation/*/widget-gallery.valadoc
/documentation/*/wiki
/examples/*-examples.valadoc
/extra-vapis/
/generator
/girs/
/libdoclet.so
/LOG
/tmp/*
/valadoc-example-gen
/valadoc-example-tester
/node_modules/
/yarn.lock

!.babelrc
!.editorconfig
!.stylelintrc.json
