/documentation/*/gir-images/*
/documentation/*/gallery-images/*
/documentation/*/widget-gallery.valadoc
/documentation/*/index.sgml
/documentation/*/wiki
/examples/*-examples.valadoc
/LOG
/tmp/*
/valadoc-example-tester
/valadoc-example-gen
/configgen
/generator
/girs/
/libdoclet.so
/sphinx.conf
/valadoc.org/
*.patch
*.c
*~
.*
