.*
*.c
*.log
*.patch
*~
/configgen
/documentation/*/gallery-images/*
/documentation/*/gir-images/*
/documentation/*/vapi-images/*
/documentation/*/index.sgml
/documentation/*/widget-gallery.valadoc
/documentation/*/wiki
/examples/*-examples.valadoc
/extra-vapis/
/generator
/girs/
/libdoclet.so
/LOG
/sphinx.conf
/sphinx/storage/*
/tmp/*
/valadoc-example-gen
/valadoc-example-tester
/valadoc.org/
/node_modules/
/yarn.lock

!.editorconfig
!.stylelintrc.json
