/documentation/*/gir-images/*
/documentation/*/gallery-images/*
/documentation/*/widget-gallery.valadoc
/examples/*-examples.valadoc
/LOG
/valadoc-example-gen
/configgen
/generator
/girs/
/libdoclet.so
/sphinx.conf
/valadoc.org/
*~
.*
