html {
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a {
    color: #08c;
    text-decoration: none;
}

h2,
h3 {
    font-family: "Droid Serif", serif;
    font-weight: 300;
}

p {
    font-size: 14px;
}

/***********
 * Nav Bar *
 ***********/

nav {
    list-style-type: none;
    background-color: #403757;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    padding: 0 6px;
    position: relative;
}

nav a,
nav a:visited,
nav a:active {
    border-radius: 4px;
    color: rgba(255,255,255,0.9);
    padding: 4px 8px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

nav li,
nav span {
    display: inline;
    vertical-align: middle;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav #links {
    display: inline;
    position: absolute;
    right: 0;
}

nav .title {
    font-family: "Lobster";
    font-size: 36px;
}

nav .title a {
    padding: 0 12px;
}

nav .subtitle {
    vertical-align: -webkit-baseline-middle;
}

#search-box {
    display: none;
    width: auto;
}

#search-field {
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 3px;
    font-size: 14px;
    padding: 6px;
    transition: all 200ms ease-in-out;
    width: calc(240px - 12px);
}

#search-field:focus {
    border-color: rgba(58,65,111,0.5);
    box-shadow: 0 1px 3px rgba(58,65,111,0.12);
    outline: none;
}

#search-field-clear {
    cursor: pointer;
    position: absolute;
    margin-left: -24px;
    margin-top: 8px;
    opacity: 0.3;
    transition: all 200ms ease-in-out;
}

#search-field:focus ~ #search-field-clear {
    opacity: 0.75;
}

/***********
 * Sidebar *
 ***********/

#sidebar {
    background-color: #fcfcfc;
    border-right: 1px solid #dedede;
    display: inline-block;
    width: 240px;
}

#navigation-content {
    overflow: auto;
}

#search-results {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    white-space: nowrap;
    overflow: auto;
    overflow-x: hidden;
}

.search-result {
    background: white;
}

.search-result a {
    text-decoration: none;
    color: #333;
}

.search-result a span {
    background: none;
    margin: 0;
    padding: 2% 0 2% 3%;
    display: block;
}

.search-result a .search-package {
    display: inline;
    font-style: italic;
    color: #555753;
}

.search-result a .search-desc {
    color: #888A85;
    margin: -1.5% 0 0 0;
    padding: 0 0 2% 3%;
    min-height: 12px;
}

.search-result p {
    padding: 0;
    margin: 0;
}

.search-result:nth-child(even) {
    background-color: #E6E6FF;
}

.search-result:hover {
    background: #dfdfdf;
}

#search-results li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-selected {
    background-color: #3875D7 !important;
}

.search-selected span {
    color: #eeeeec !important;
}

.site_navigation {
    width: 100%;
}

.site_navigation hr {
    background-color: #dedede;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 1px;
    margin: 6px 0;
}

.navi_inline,
.navi_main {
    font-size: 12px;
    line-height: 16px;
    list-style: none;
    margin: 12px 3px;
    padding-left: 6px;
}

.navi_inline {
    padding-left: 12px;
}

.navi_main a {
    vertical-align: top;
}

.navi_main a,
.navi_inline a,
.external_link {
    color: #666;
    text-decoration: none;
    padding-right: 6px;
}

.navi_inline li:before,
.navi_main li:before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 6px;
    vertical-align: middle;
}

.navi_main .abstract_class > a,
.navi_inline .abstract_class > a {
    font-style: italic;
}

.abstract_class:before {
    background-image: url(/images/abstractclass.png);
}

.abstract_method:before {
    background-image: url(/images/abstractmethod.png);
}

.abstract_property:before {
    background-image: url(/images/abstractproperty.png);
}

.class:before,
.main_list_cl:before {
    background-image: url(/images/class.png);
}

.constant:before {
    background-image: url(/images/constant.png);
}

.creation_method:before,
.main_list_m:before {
    background-image: url(/images/constructor.png);
}

.delegate:before,
.main_list_del:before {
    background-image: url(/images/delegate.png);
}

.enum:before,
.main_list_en:before {
    background-image: url(/images/enum.svg);
}

.enumvalue:before {
    background-image: url(/images/enumvalue.svg);
}

.errorcode:before {
    background-image: url(/images/errorcode.png);
}

.errordomain:before,
.main_list_errdom:before {
    background-image: url(/images/errordomain.svg);
}

.field:before,
.main_list_field:before {
    background-image: url(/images/field.png);
}

.interface:before,
.main_list_iface:before {
    background-image: url(/images/interface.png);
}

.method:before {
    background-image: url(/images/method.png);
}

.namespace:before,
.main_list_ns:before {
    background-image: url(/images/namespace.svg);
}

.package:before {
    background-image: url(/images/package.svg);
}

.package_index:before {
    background-image: url(/images/packages.svg);
}

.property:before,
.main_list_prop:before {
    background-image: url(/images/property.png);
}

.signal:before,
.main_list_sig:before {
    background-image: url(/images/signal.png);
}

.static_method:before {
    background-image: url(/images/staticmethod.png);
}

.struct:before,
.main_list_stru:before {
    background-image: url(/images/struct.png);
}

.virtual_method:before {
    background-image: url(/images/virtualmethod.png);
}

.virtual_property:before {
    background-image: url(/images/virtualproperty.png);
}

.main_optional_parameter {
    font-style: italic;
}

.main_diagram {
    border-style: none;
    display: block;
    margin: 0 auto;
}

.site_navi {
    text-align: right;
}

.main_notification {
    background-color: #eeeeff;
    background-image: url(/images/warning.png);
    background-position: 6px 0.5em;
    background-repeat: no-repeat;
    border: 1px solid #aaaaff;
    margin: 10px;
    min-height: 48px;
    padding: 5px 10px 5px 60px;
}

.main_table {
    border-collapse: collapse;
    border: 1px solid #aaaaff;
    background: #eeeeff;
    margin-right: auto;
    margin-left: auto;
}

.main_sourcesample {
    background-color: #eeeeff;
    border: 1px solid #aaaaff;
    margin: 10px;
    padding: 5px 10px 5px 5px;
}

.site_header {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #aaaaff;
    width: 100%;
}

.space {
    clear: both;
    height: 10px;
}

#logo {
    float: left;
    margin-left: 17px;
    display: none;
}

#logo img {
    width: 203px;
    height: 52px;
}

#content {
    margin-left: 12px;
    margin-right: 12px;
}

.tooltip {
    background-color: rgb(238,238,255);
    border: 1px solid rgb(170,170,255);
    opacity: 0.95;
    z-index: 1000;
    text-align: left;
    padding: 0 4px 4px 4px;
    max-width: 30em;
}

.tooltip * {
    padding: 0;
    margin: 0;
}

.tooltip p {
    margin-top: 4px;
}

.highlight:hover {
    background-color: rgb(238,238,255);
}

.site_title {
    text-align: left;
}

.site_footer {
    height: 15px;
    clear: left;
}

#content-wrapper {
    display: inline-block;
    overflow: auto;
    overflow-y: scroll;
    text-align: left;
    vertical-align: top;
    width: calc(100% - 245px);
}

.main_type {
    text-decoration: none;
    font-style: italic;
}

.main_basic_type {
    text-decoration: none;
    font-weight: bold;
    color: #2e8b57;
}

.main_keyword {
    text-decoration: none;
    font-weight: bold;
    color: #dc322f;
}

.main_code_definition {
    background-color: #eee;
    border-radius: 6px;
    font-family: "Droid Sans Mono", monospace;
    margin: 12px;
    padding: 12px;
}

span.leaf_code_definition {
    font-family: "Droid Sans Mono", monospace;
}

div.leaf_brief_description {
    display: block;
    margin-left: 40px;
}

.main_title {
    margin-bottom: 0;
}

.main_hr {
    border: 0;
    color: #aaaaff;
    background-color: #aaaaff;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main_parameter_table_name,
.main_errordomain_table_name,
.main_enum_table_name {
    vertical-align: top;
    text-align: right;
    font-weight: bold;
    width: 120px;
    padding-right: 10px;
}

.main_parameter_table,
.main_errordomain_table,
.main_enum_table {
    margin-left: 20px;
}

.main_parameter_table_unknown_parameter {
    color: gray;
}

a.abstract_class,
.brief_description a,
.description a {
    display: inline-block;
    padding-right: 17px;
    background-repeat: no-repeat;
    background-position: center right;
    border: 0;
}

.description a.constant,
.brief_description a.constant {
    background-image: url(/images/constant.png);
}

.description a.namespace,
.brief_description a.namespace {
    background-image: url(/images/namespace.svg);
}

.description a.struct,
.brief_description a.struct {
    background-image: url(/images/struct.png);
}

.description a.interface,
.brief_description a.interface {
    background-image: url(/images/interface.png);
}

.description a.enum,
.brief_description a.enum {
    background-image: url(/images/enum.svg);
}

.description a.errordomain,
.brief_description a.errordomain {
    background-image: url(/images/errordomain.svg);
}

.description a.delegate,
.brief_description a.delegate {
    background-image: url(/images/delegate.png);
}

.description a.signal,
.brief_description a.signal {
    background-image: url(/images/signal.png);
}

.description a.field,
.brief_description a.field {
    background-image: url(/images/field.png);
}

.description a.enumvalue,
.brief_description a.enumvalue {
    background-image: url(/images/enumvalue.svg);
}

.description a.errorcode,
.brief_description a.errorcode {
    background-image: url(/images/errorcode.png);
}

.description a.class,
.brief_description a.class {
    background-image: url(/images/class.png);
}

a.abstract_class,
.description a.abstract_class,
.brief_description a.abstract_class {
    background-image: url(/images/abstractclass.png);
    font-style: italic;
}

.description a.property,
.brief_description a.property {
    background-image: url(/images/property.png);
}

.description a.virtual_property,
.brief_description a.virtual_property {
    background-image: url(/images/virtualproperty.png);
}

.description a.abstract_property,
.brief_description a.abstract_property {
    background-image: url(/images/abstractproperty.png);
}

.description a.method,
.brief_description a.method {
    background-image: url(/images/method.png);
}

.description a.static_method,
.brief_description a.static_method {
    background-image: url(/images/staticmethod.png);
}

a.virtual_method,
.description a.virtual_method,
.brief_description a.virtual_method {
    background-image: url(/images/virtualmethod.png);
}

.description a.abstract_method,
.brief_description a.abstract_method {
    background-image: url(/images/abstractmethod.png);
}

.description a.creation_method,
.brief_description a.creation_method {
    background-image: url(/images/constructor.png);
}

.navi_link:hover,
.external_link:hover {
    text-decoration: underline;
}

.no_bullet li {
    list-style-type: none;
}

.css_content_literal {
    font-family: "Droid Sans Mono", monospace;
    color: #ff01ff;
}

code {
    font-family: "Droid Sans Mono", monospace;
}

.main_code_definition a,
.leaf_code_definition a {
    text-decoration: none;
    color: inherit;
}

.main_code_definition a:hover,
.leaf_code_definition a:hover {
    text-decoration: underline;
}

.box .headline {
    background-color: #eeeeff;
    border: 1px solid #aaaaff;
    margin: auto;
    width: 90%;
    margin-top: 20px;
}

.box .text {
    font-weight: bold;
    float: left;
}

.box .toggle {
    text-align: right;
    float: clear;
}

.box .content {
    border-color: #aaaaff;
    border-width: 0 1 1 1;
    border-style: solid;
    overflow: auto;
    display: none;
    margin: auto;
    width: 90%;
}

.box .column {
    float: left;
    width: 33%;
}

.deprecated {
    text-decoration: line-through;
}
