* {
    box-sizing: border-box;
}

html {
    color: #111;
    font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

body {
    margin: 0;
}

a {
    color: #7239b3;
    text-decoration: none;
}

h2,
h3 {
    font-family: "Droid Serif", serif;
}

p {
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
}

/***********
* Mobile Navbar *
***********/
nav {
    position: fixed;
    display: flex;
    align-items: center;
    height: 45px;
    width: 100vw;
    padding: 0 15px;
    background-color: #fff;
    z-index: 300;
}

#hamburger-icon {
    display: flex;
    flex-direction: column;
    height: 25px;
    width: 45px;
    justify-content: space-between;
    z-index: 300;
}

#hamburger-icon:hover {
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    background-color: #A56DE2;
    height: 3px;
    width: 100%;
    transition: 0.3s;
    z-index: 300;
}

.nav-open .bar1 {
    transform: translate(0, 12px) rotate(-45deg);
}

.nav-open .bar2 {
    opacity: 0;
}

.nav-open .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}

#nav-title {
    margin-left: auto;
}

#nav-title img {
    display: block;
    border-radius: 5px;
    height: 35px;
    width: 130px;
}

#overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #fff;
    background-size: cover;
    background-position: center;
    z-index: 100;
    transform: scale(0);
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}

#overlay-background.nav-open {
    transform: scale(150);
}

#mobile-menu-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    padding: 9vh 5vw 0 5vw;
    overflow-y: auto;
    font-size: 1.4em;
    z-index: 200;
    transform: translateX(-100vw);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#mobile-menu-overlay.nav-open {
    visibility: visible;
    transform: translateX(0);
    transition: all 700ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-results a {
    color: #666;
}

#mobile-menu-overlay > a {
    margin: 2vh auto;
    color: #7239b3;
}

#mobile-menu-overlay > a, #mobile-menu-overlay .search-box {
    margin: 2vh auto;
}

#mobile-menu-overlay ul {
    margin-top: 2vh;
}

form {
    width: 100%;
    height: 50px;
    margin: auto;
}

.search-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.search-field {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 3px #aaa;
    font-size: 1em;
    background-color: #E9E9E9;
    color: #444;
}

.search-field:focus{
    outline: none;
}

#mobile-menu-overlay .search-field {
    padding: 0 50px;
    border-radius: 10px;
}

#mobile-menu-overlay .search-logo {
    position: absolute;
    left: 15px;
    top: 8px;
}

#mobile-menu-overlay .site_navigation a::before {
    content: "";
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.search-field-clear {
    position: absolute;
    height: 35px;
    right: 5px;
    top: 7px;
    opacity: 0.5;
}

.search-field:focus ~ .search-field-clear {
    opacity: 1;
}

.search-field-clear:hover {
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/***********
* Sidebar *
***********/

#sidebar {
    border-right: 1px solid #eceaf0;
    display: none;
    overflow-y: auto;
    position: fixed;
    width: 20vw;
    height: 100vh;
    padding: 1vw 1vw 0 1vw;
    font-size: 14px;
}

#sidebar a {
    color: #666;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

#sidebar .site_navigation a::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 6px;
    vertical-align: middle;
}

#sidebar hr {
    background-color: #dedede;
    border: 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #dedede;
    height: 0;
    margin: 6px 0;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}

#sidebar .site_navigation > ul:first-of-type {
    margin-top: 6px;
}

#sidebar .site_navigation > ul:last-of-type {
    margin-bottom: 6px;
}

#sidebar li {
    overflow: hidden;
    padding: 3px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#sidebar li:hover {
    background: rgba(0, 0, 0, 0.1);
}

#sidebar .external-link::after {
    background-image: url(/images/external_link.svg);
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-left: 3px;
    vertical-align: middle;
}

.title img {
    display: block;
    margin: auto;
    width: 10vw;
    border-radius: 5px;
}

#navigation-content {
    overflow: auto;
}

.search-result:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.02);
}

.search-result a .search-package {
    display: inline;
    font-size: 10px;
    margin-left: 6px;
    opacity: 0.8;
}

.search-result a .search-desc {
    display: none;
}

.search-selected {
    background-color: #776c93 !important;
}

.search-selected span {
    color: #eeeeec;
}

.site_navigation {
    width: 100%;
}

.navi_inline {
    font-size: 12px;
    line-height: 21px;
    list-style: none;
    margin: 6px 3px;
}

.navi_inline {
    padding-left: 12px;
}

.navi_inline li::before,
.navi_main li::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 6px;
    vertical-align: middle;
}

#sidebar .navi_main a {
    display: initial;
    padding: 0;
}

#sidebar .navi_main a::before {
    display: none;
}

#sidebar .navi_main li {
    padding: 6px;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#sidebar .abstract_class > a,
.navi_inline .abstract_class > a {
    font-style: italic;
}

/***********
* Content *
***********/

#content-wrapper {
    width: 100vw;
    padding-top: 7vh;
    min-height: 93vh;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2vh 20px;
}

.site_content {
    width: 100%;
}

#content h1 {
    margin-bottom: 0;
}

#content hr {
    border: 0;
    color: #b4a0c1;
    background-color: #b4a0c1;
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.toc {
    margin: 20px auto;
    line-height: 1.6;
}

.toc h3, .toc ul {
    margin: 0;
}

.highlight {
    border-radius: 6px;
    padding: 6px;
}

.highlight:hover {
    background-color: #eee;
}

.highlight .package {
    font-size: 14px;
    padding-right: 6px;
}

.highlight .package::before,
.document::before,
.video::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 6px;
    vertical-align: middle;
}

.highlight .links {
    float: right;
}

.highlight .links p {
    display: inline-block;
    margin: 0 6px;
}

.highlight .cdocs,
.highlight .homepage {
    width: 48px;
}

.highlight .devhelp {
    width: 115px;
}

.highlight .description {
    margin-left: 22px;
}

.highlight .description p {
    font-size: 12px;
    margin-top: 6px;
}

.main_optional_parameter {
    font-style: italic;
}

.main_diagram {
    border-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

.graph .node text {
    font-size: 14px;
}

.graph > polygon {
    fill: none;
}

.graph .node polygon {
    fill: transparent;
}

.site_navi {
    text-align: right;
}

.main_notification {
    background-color: #eef;
    background-image: url(/images/warning.svg);
    background-position: 6px 0.5em;
    background-repeat: no-repeat;
    border: 1px solid #aaf;
    margin: 10px;
    min-height: 48px;
    padding: 5px 10px 5px 60px;
}

.main_table {
    border-collapse: collapse;
    border: 1px solid #aaf;
    background: #eef;
    margin-right: auto;
    margin-left: auto;
}

.main_sourcesample {
    background-color: #eef;
    border: 1px solid #aaf;
    margin: 10px;
    padding: 5px 10px 5px 5px;
}

.site_header {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #aaf;
    width: 100%;
}

.space {
    clear: both;
    height: 10px;
}

#logo img {
    width: 203px;
    height: 52px;
}

.tooltip {
    background-color: rgba(250, 250, 250, 0.95);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 30em;
    padding: 12px;
    text-align: left;
    z-index: 1000;
    top: -200px;
}

.tooltip * {
    padding: 0;
    margin: 0;
}

.tooltip p {
    margin-top: 4px;
}

.site_title {
    text-align: left;
}

footer {
    background-color: #7239b3;
    color: #fafafa;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fafafa;
}

footer p:nth-of-type(2) {
    margin-top: 30px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 20px auto;
    width: 60%;
}

.social-link {
    color: #fff;
    scale: 1.5;
    transition: 0.2s;
}

.social-link:hover {
    color: #aaa;
}

.main_source {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    white-space: pre-wrap;
}

.main_title {
    margin-top: 2vh;
}

.main_type {
    text-decoration: none;
    font-style: italic;
}

.main_basic_type {
    text-decoration: none;
    font-weight: bold;
    color: #2e8b57;
}

.main_keyword {
    text-decoration: none;
    font-weight: bold;
    color: #dc322f;
}

.main_literal {
    text-decoration: none;
    color: #2ba199;
}

.main_escape {
    text-decoration: none;
    color: #dc322f;
}

.main_comment {
    text-decoration: none;
    color: #93aabc;
}

.main_preprocessor {
    text-decoration: none;
    color: #dc322f;
}

.xml_cdata {
    text-decoration: none;
    font-weight: normal;
    color: #93aabc;
}

.xml_escape {
    text-decoration: none;
    font-weight: normal;
    color: #dc322f;
}

.xml_element {
    text-decoration: none;
    font-weight: normal;
    color: #258bd2;
}

.xml_attribute {
    text-decoration: none;
    font-weight: bold;
    color: #93aabc;
}

.xml_attribute_value {
    text-decoration: none;
    font-weight: normal;
    color: #2ba199;
}

.xml_comment {
    text-decoration: none;
    font-weight: normal;
    color: #93aabc;
}

.main_code_definition {
    background-color: #eee;
    border-radius: 6px;
    font-family: "Roboto Mono", monospace;
    margin: 12px;
    padding: 12px;
}

span.leaf_code_definition {
    font-family: "Roboto Mono", monospace;
}

div.leaf_brief_description {
    display: block;
    margin-left: 40px;
}

.main_parameter_table_name,
.main_errordomain_table_name,
.main_enum_table_name {
    text-align: right;
    font-weight: bold;
    width: 120px;
    padding-right: 10px;
}

.main_parameter_table,
.main_errordomain_table,
.main_enum_table {
    margin-left: 20px;
}

.main_parameter_table_unknown_parameter {
    color: gray;
}

a.abstract_class,
.brief_description a,
.description a {
    display: inline-block;
    padding-right: 17px;
    background-repeat: no-repeat;
    background-position: center right;
    border: 0;
}

.navi_link:hover,
.external_link:hover {
    text-decoration: underline;
}

.no_bullet li {
    list-style-type: none;
}

.css_content_literal {
    font-family: "Roboto Mono", monospace;
    color: #ff01ff;
}

code {
    font-family: "Roboto Mono", monospace;
}

.main_code_definition a,
.leaf_code_definition a {
    text-decoration: none;
    color: inherit;
}

.main_code_definition a:hover,
.leaf_code_definition a:hover {
    text-decoration: underline;
}

.box .headline {
    background-image: url("/images/coll_open.svg");
    background-position: 0 1px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    cursor: pointer;
    height: 30px;
    width: fit-content;
    font-weight: bold;
}

.headline:hover {
    cursor: pointer;
}

.headline h3 {
    margin-left: 30px;
    display: flex;
    align-items: center;
    height: 100%;
}

.box .content {
    border-top: none;
    overflow: auto;
    display: none;
    margin: auto;
    width: 100%;
    padding: 0 20px;
}

.deprecated {
    opacity: 0.5;
    text-decoration: line-through;
}

/*********
* Icons *
*********/

.abstract_class::before,
a.abstract_class,
.description a.abstract_class,
.brief_description a.abstract_class {
    background-image: url(/images/abstractclass.svg);
    font-style: italic;
}

.abstract_method::before,
.description a.abstract_method,
.brief_description a.abstract_method {
    background-image: url(/images/abstractmethod.svg);
}

.abstract_property::before,
.description a.abstract_property,
.brief_description a.abstract_property {
    background-image: url(/images/abstractproperty.svg);
}

.class::before,
.main_list_cl::before,
.description a.class,
.brief_description a.class {
    background-image: url(/images/class.svg);
}

.constant::before,
.description a.constant,
.brief_description a.constant {
    background-image: url(/images/constant.svg);
}

.creation_method::before,
.main_list_m::before,
.description a.creation_method,
.brief_description a.creation_method {
    background-image: url(/images/constructor.svg);
}

.delegate::before,
.main_list_del::before,
.description a.delegate,
.brief_description a.delegate {
    background-image: url(/images/delegate.svg);
}

.document::before {
    background-image: url(/images/document.svg);
}

.enum::before,
.main_list_en::before,
.description a.enum,
.brief_description a.enum {
    background-image: url(/images/enum.svg);
}

.enumvalue::before,
.enum_value::before,
.description a.enumvalue,
.brief_description a.enumvalue {
    background-image: url(/images/enumvalue.svg);
}

.errorcode::before,
.description a.errorcode,
.brief_description a.errorcode {
    background-image: url(/images/errorcode.svg);
}

.errordomain::before,
.main_list_errdom::before,
.description a.errordomain,
.brief_description a.errordomain {
    background-image: url(/images/errordomain.svg);
}

.field::before,
.main_list_field::before,
.description a.field,
.brief_description a.field {
    background-image: url(/images/field.svg);
}

.interface::before,
.main_list_iface::before,
.description a.interface,
.brief_description a.interface {
    background-image: url(/images/interface.svg);
}

.method::before,
.description a.method,
.brief_description a.method {
    background-image: url(/images/method.svg);
}

.namespace::before,
.main_list_ns::before,
.description a.namespace,
.brief_description a.namespace {
    background-image: url(/images/namespace.svg);
}

.package::before {
    background-image: url(/images/package.svg);
}

.package_index::before {
    background-image: url(/images/packages.svg);
}

.property::before,
.main_list_prop::before,
.description a.property,
.brief_description a.property {
    background-image: url(/images/property.svg);
}

.signal::before,
.main_list_sig::before,
.description a.signal,
.brief_description a.signal {
    background-image: url(/images/signal.svg);
}

.static_method::before,
.description a.static_method,
.brief_description a.static_method {
    background-image: url(/images/staticmethod.svg);
}

.struct::before,
.main_list_stru::before,
.description a.struct,
.brief_description a.struct {
    background-image: url(/images/struct.svg);
}

.video::before {
    background-image: url(/images/video.svg);
}

.virtual_method::before,
.description a.virtual_method,
.brief_description a.virtual_method {
    background-image: url(/images/virtualmethod.svg);
}

.virtual_property::before,
.description a.virtual_property,
.brief_description a.virtual_property {
    background-image: url(/images/virtualproperty.svg);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #131416;
        color: #fff;
    }

    #sidebar {
        background-color: #1E1E1E;
        border-right-color: #111;
    }

    .title img {
        content: url("/images/logo.svg");
    }

    #sidebar li:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .search-selected {
        background-color: #524a66 !important;
    }

    #sidebar a {
        color: #eee;
    }

    .highlight:hover {
        background-color: #111;
    }

    #sidebar hr {
        border-top-color: #222;
        border-bottom-color: #000;
    }

    .main_code_definition {
        background-color: #111;
    }

    .graph .node polygon {
        stroke: white;
    }

    .graph .node text {
        fill: white;
    }

    .graph .edge path {
        stroke: white;
    }

    .graph .edge polygon {
        stroke: white;
        fill: white;
    }

    .tooltip {
        background-color: #111;
    }

    .main_parameter_table_unknown_parameter {
        color: #999;
    }

    .main_table {
        background: #335;
        border: 1px solid #77c;
    }
}

/*************
* Responsive *
*************/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    footer ul {
        width: 50%;
    } 

}

/* All handheld devices */
@media only screen and (max-width: 991px) {

    .search-field:focus {
        background-color: #fff;
    }

    .search-field-clear {
        transform: scale(0.7);
    }

    .site_navigation .package::before {
        display: inline-block;
        margin-right: 6px;
    }

    .toc ul, .toc h3 {
        font-size: 1.2em;
    }

    footer {
        height: 34vh;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    nav, #hamburger-icon {
        display: none;
    }

    #sidebar {
        display: block;
    }

    .title {
        margin: 5vh 0;
    }

    form {
        height: 30px;
    }

    .search-logo {
        position: relative;
        bottom: 31px;
        scale: 0.8;
    }

    .search-field {
        padding: 0 23px 0 30px;
        border: none;
        color: #444;
    }

    .search-field-clear {
        position: absolute;
        right: 5px;
        top: 5px;
        height: 20px;
        width: 20px;
    }

    #content-wrapper {
        width: 79vw;
        margin-left: 20vw;
        padding: 7vh 0 3vh 3vw;
        min-height: 85vh;
    }

    .site_content {
        overflow-y: auto;
        width: 62vw;
        min-height: 100vh;
    }
    
    .toc {
        position: fixed;
        top: 7vh;
        height: 100vh;
        padding: 0 1vw 0 1vw;
        margin-left: 63vw;
        width: 14vw;
    }

    footer {
        background-color: #7239b3;
        color: #fafafa;
        padding: 10px;
        text-align: center;
        margin-left: 20vw;
    }

    footer ul {
        width: 25%;
    }

    footer p:nth-of-type(2) {
        margin-top: 10px;
    }

}